<center><h4><b>Select only Blue boxes</b></h4></center>
<div class="row1">
	<button type="button" id="d1"  class="notset" value="40">40 </button>
	<button type="button" id="d2"  class="notset" value="50">50</button>
	<button type="button" id="d3"  class="notset" value="500">500</button>
	<button type="button" id="d4"  class="notset" value="50">50</button>	
	<button type="button" id="d5"  class="notset" value="40">40</button>

</div>

<div class="row2">
	<button type="button" id="d6"  class="notset"  value="20">20</button>
	<button type="button" id="d7"  class="notset"  value="100">100</button>
	<button type="button" id="d8"  class="notset"  value="100">100</button>
	<button type="button" id="d9"  class="notset" value="100">100</button>
	<button type="button" id="d10"  class="notset" value="30">30</button>
</div>

<div class="row3">
	<button type="button" id="d11"  class="notset" value="20">20</button>
	<button type="button" id="d12" class="notset" value="100">100</button>
	<button type="button" id="d13"  class="notset" value="200">200</button>
	<button type="button" id="d14"  class="notset" value="100">100</button>
	<button type="button" id="d15"  class="notset" value="30">30</button>

</div>

<div class="row4">
	<button type="button" id="d16"  class="notset" value="20">20</button>
	<button type="button" id="d17" class="notset" value="100">100</button>
	<button type="button" id="d18" class="notset" value="100">100</button>
	<button type="button" id="d19" class="notset" value="100">100</button>
	<button type="button" id="d20" class="notset" value="30">30</button>
</div>

<div class="row5">
	<button type="button" id="d21"  class="notset" value="20">20</button>
	<button type="button" id="d22" class="notset" value="10">10</button>
	<button type="button" id="d23" class="notset" value="10">10</button>
	<button type="button" id="d24" class="notset" value="10">10</button>
	<button type="button" id="d25" class="notset" value="30">30</button>
</div>

<center><button type="button" id="d26" userid="<%= user.id %>" value="<%= _csrf %>" class="btn btn-lg btn-success">Finish</button>
</center>

