<div class="formcss">
<div class="admin-signin">

<h4>Company Paying more</h4> <div id="textbox1">  <input type="text" class="admin-control" value= <%= payname %> />  </div>    <br />
<h4>Company took more space</h4> <div id="textbox1">  <input type="text" class="admin-control" value= <%= countname %> />   </div>   <br />
<h4>Average space sold</h4> <div id="textbox1">  <input type="text" class="admin-control" value= <%= avg %> />  </div>  <br /> 
<h4>Profit Obtained</h4> <div id="textbox1">  <input type="text" class="admin-control" value= <%= profit %> />  </div>  <br /><br />
	
	</div>
</div>